/* @font-face {
    font-family:;
    src: url(./helvetica-neue-5/HelveticaNeueMedium.otf);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

.container1 {
  background-color: rd;
  height: fit-content;
  width: 50%;
  margin-left: 20%;
  margin-top: 5%;
  position: relative;
  /* background-color: red; */
}
.head {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #702d1e;
  font-size: 55px;
  font-weight: 500;
  letter-spacing: -3px;
}

#txt-img {
  height: 45px;
  position: absolute;
  left: 60%;
  top: 57%;
}

.that {
  position: relative;
  margin-left: 50px;
}

.container2 {
  /* background-color: crimson; */
  margin-left: 31.5%;
}

.gray {
  color: #ad9a99;
}

.container {
  /* background-color: pink; */
  position: relative;
  width: 100%;
  padding-left: 10%;
}

.pbox {
  /* background-color: red; */
  width: 61.5%;
  position: absolute;
  right: 0;
}

.desc {
  color: #702d1e;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.2;
  font-size: 12px;
}

.frames {
  height: 350px;
  /* background-color: cyan; */
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
}

.frame {
  height: 80%;
  width: 25%;

  border-radius: 20px;
}

.frame1 {
  background-image: url("./frame1.jpg");
  background-size: cover;
  background-position: 50%;
}

.frame2 {
  background-image: url("./frame21.jpg");
  background-position: 50%;
  background-size: cover;
}

.frame3 {
  background-image: url("./frame3.png");
  background-size: cover;
  background-position: 50%;
}

.foot {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: red; */
  position: absolute;
  bottom: 0;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}

.foot p {
  width: 28%;
}

.star {
  position: absolute;
  height: 70px;
  top: 10%;
  left: 35px;
}

.extrap {
  position: absolute;
  right: 30px;
  top: 100px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #702d1e;
  font-size: x-small;
  text-align: right;
}

.extrau {
  text-transform: uppercase;
  color: #702d1e;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  text-decoration: underline;
  position: absolute;
  left: 20px;
  bottom: 250px;
}   
